@model SensorDataViewModel
@{
    ViewData["Title"] = "Sensor Data";
}

<script src="~/js/moment.min.js"></script>
<script src="~/js/Chart.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Humidor Readings</h1>
    <div>
        <div>
            <img src="~/images/time_48dp.png" width="24" height="24" />
            <h6 style="display:inline">Last Updated: </h6><label>@Model.LastUpdated</label>
        </div>
        <div>
            <img src="~/images/temperature_48dp.png" width="24" height="24"/>
            <h6 style="display:inline">Temperature: </h6><label>@Model.LatestTemperature</label>
            <img src="~/images/humidity_48dp.png" width="24" height="24" style="margin-left:20px"/>
            <h6 style="display:inline">Relative Humidity: </h6><label>@Model.LatestRelativeHumidity</label>
        </div>
    </div>
    <canvas id="myChart" style="margin:0" width="400" height="200"></canvas>
    <script>
        var chartCanvas = document.getElementById("myChart");

        function buildChart(data) {
            var timeStampLabels = data.map(function (e) {
                return e.timestamp;
            });
            var temperatureData = data.map(function (e) {
                return e.temperature;
            });
            var humidityData = data.map(function (e) {
                return e.relativeHumidity;
            });

            var sensorData = {
                labels: timeStampLabels,
                datasets: [{
                    borderColor: 'tomato',
                    label: "Temperature",
                    yAxisID: 'temperatureAxis',
                    data: temperatureData,
                    fill: false
                },
                {
                    borderColor: 'paleturquoise',
                    label: "Humidity",
                    yAxisID: 'humidityAxis',
                    data: humidityData,
                    fill: false
                }]
            };

            var chartOptions = {
                legend: {
                    display: false,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'black'
                    }
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            unit: 'hour',
                            unitStepSize: 10,
                            round: 'minute',
                            tooltipFormat: "YYYY-MM-DD hh:mm:ss a",
                            displayFormats: {
                                hour: 'MM-DD HH:mm'
                            }
                        }
                    }],
                    yAxes: [{
                        scaleFontSize: 10,
                        id: 'temperatureAxis',
                        position: 'left',
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 40
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Temperature (°C)"
                        }
                    },
                    {
                        scaleFontSize: 10,
                        id: 'humidityAxis',
                        position: 'right',
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Relative Humidity (%)"
                        }
                    }]
                }
            };

            new Chart(chartCanvas, {
                type: 'line',
                data: sensorData,
                options: chartOptions
            });
        };

        var sensorData = JSON.parse(@Html.Raw(Json.Serialize(@Model.JsonDataLogs)));
        console.log(sensorData);
        buildChart(sensorData);
    </script>
</div>
